{% extends 'main.html'%}
{% block crud_container %}
{% if user %}
<article class="card container fluid"></article>
<br>
<div class="card">
    <ul class="list-group list-group-flush">
        <h2> ID: {{user.id}}</h2>
        <body> Username: {{user.username}} </body>
        <body> Age: {{user.age}} </body>
    </ul>
</div>
{% else %}
<section class="container-fluid">
    <h2 align="center"> Users </h2>
    <br>
    <div class="card">
        <ul class="list-group list-group-flush">
            {% for user in users %}
            <li class="list-group-item">
                {{user.id}} <a href="/user/{{user.id}}">{{user.username}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
{% endif %}
{% endblock %}
